<%= form_for [@unity, @order] do |f| %>
  <div class="form-group">
    <label class="form-label">Serviço</label>
    <%= f.select :service_id, service_options, {}, { class: 'form-control' } %>
  </div>
  <div>
    <%= link_to 'Cancelar', unity_path(@unity), class: 'btn btn-danger' %>
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
